#room-page-center {
  justify-content: center;
  align-items: center;
}

.color-my-room {
  padding: 25px;
  text-align: center;
}

.warning {
  font-size: 20px;
  color: red;
}

.room-instructions-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.center-rectangle {
  flex: none;
  height: 740px;
  width: 740px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1380px) {
  .room-instructions-wrapper {
    justify-content: flex-start;
  }
}

.instructions {
  width: 300px;
  min-width: 300px;
  flex-direction: auto;
  text-align: left;      
  padding: 10px;
  line-height: 1.5;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15.9px;
}

.read-this-first {
  color: red;
  font-size: 25px;
  font-weight: bold;
  padding: 4px;
  display: block; 
  text-align: center; 
}

.instructions-header {
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
}

.right-column {
  width: 300px;
  min-width: 300px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center;     
}

.leave-the-room {
  width: 200px;
  margin-right: 10px;
}
