.center-rectangle {
  height: 80%;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

#room-page-center {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-my-room {
  
}

.instructions {
  
}