.center-rectangle {
  height: 740px;
  width: 740px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;

  flex-shrink: 0;
  min-width: 700px;
  min-height: 700px;
}

#room-page-center {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-my-room {
  
}

.instructions {
  
}