.center-rectangle {
  height: 80%;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  background-image: url("../images/background.png");
  background-size: cover;      
  background-position: center; 
}





