.center-rectangle {
  flex: none;
  height: 740px;
  width: 740px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

#room-page-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-my-room {
  padding: 30px;
  text-align: center;
}

.room-instructions-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.instructions {
  width: 300px;
  max-width: 40%;
  flex-direction: auto;
  text-align: left;      
  padding: 10px;
  line-height: 1.5;
  border: 2px solid black;
  border-radius: 5px;
}