.bed {
  position: absolute;
  cursor: pointer;
}

.bed .bed-back-pillar-1 {
  position: absolute;
  height: 180px;
  width: 10px;
  background: #5C4033;
  transform: translate(130px, 339px) skewY(-30deg);
}

.bed .bed-back-pillar-2 {
  position: absolute;
  height: 180px;
  width: 10px;
  background: #5C4033;
  transform: translate(55px, 382px) skewY(-30deg);
}

.bed .bed-frame {
  position: absolute;
  height: 150px;
  width: 70px;
  background: #5C4033;
  transform: translate(63px, 390px) skewY(-30deg);
}

.bed .bed-frame-bottom {
  position: absolute;
  height: 30px;
  width: 380px;
  background: #4A3B2E;
  box-shadow:
    -8px 0 10px rgba(0,0,0,0.3), 
    0 -8px 10px rgba(0,0,0,0.3);  
  transform: translate(63px, 520px);
}

.bed .bed-frame-end {
  position: absolute;
  height: 90px;
  width: 50px;
  background: #5C4033;
  transform: translate(435px, 440px) skewY(-55deg);
}

.bed .mattress {
  position: absolute;
  height: 30px;
  width: 370px;
  border-radius: 3px;
  background: #E0E0E0;
  box-shadow:
    -8px 0 10px rgba(0,0,0,0.3), 
    0 -8px 10px rgba(0,0,0,0.3); 
  transform: translate(70px, 500px);
}

.bed .blanket {
  position: absolute;
  width: 350px;
  height: 100px;
  background-color: #e5e5f7;
  background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
  border-radius: 59% 41% 12% 88% / 70% 26% 74% 30%;
  transform: translate(110px, 430px);
}

.bed .pillow-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #E0E0E0;
  border-radius: 59% 41% 77% 23% / 33% 62% 38% 67%;
  box-shadow:
    -8px 0 10px rgba(0,0,0,0.3), 
    0 -8px 10px rgba(0,0,0,0.3); 
  transform: translate(80px, 460px);
}

.bed .pillow-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #E0E0E0;
  border-radius: 59% 41% 77% 23% / 33% 62% 38% 67%;
  box-shadow:
    -8px 0 10px rgba(0,0,0,0.3), 
    0 -8px 10px rgba(0,0,0,0.3); 
  transform: translate(120px, 440px);
}

.bed .back-frame-3d-1 {
  position: absolute;
  height: 180px;
  width: 10px;
  background: black;
  transform: translate(45.5px, 382px) skewY(30deg);
}

.bed .back-frame-3d-2 {
  position: absolute;
  height: 30px;
  width: 10px;
  background: black;
  transform: translate(119.5px, 339px) skewY(30deg);
}

.bed .back-frame-3d-square-3 {
  position: absolute;
  height: 17px;
  width: 10px;
  background: #5C4033;
  transform: translate(50.5px, 371px) rotate(65deg);
}

.bed .back-frame-3d-square-4 {
  position: absolute;
  height: 17px;
  width: 10px;
  background: #5C4033;
  transform: translate(125px, 328px) rotate(65deg);
}

.bed .back-frame-3d-square-5 {
  position: absolute;
  height: 40px;
  width: 70px;
  background: #4A3B2E;
  transform: translate(60px, 380px) skewY(-30deg);
}

.bed .bed-frame-end-3d-square-6 {
  position: absolute;
  height: 130px;
  width: 10px;
  background: black;
  box-shadow: -8px 1px 15px rgba(0, 0, 0, 0.3);
  transform: translate(425px, 433px) skewY(30deg);
}

.bed .bed-frame-end-3d-square-7 {
  position: absolute;
  height: 15px;
  width: 80px;
  background: #4A3B2E;
  transform: translate(415.5px, 430px) rotate(-55deg);
}

.bed .bed-frame-end-3d-square-8 {
  position: absolute;
  height: 40px;
  width: 10px;
  background: black;
  transform: translate(465px, 375px) skewY(30deg);
}

.bed .bed-frame-end-3d-pillar-9 {
  position: absolute;
  height: 39px;
  width: 10px;
  background: #5C4033;
  transform: translate(435px, 429px) skewY(-55deg);
}

.bed .bed-frame-end-3d-pillar-10 {
  position: absolute;
  height: 41px;
  width: 10px;
  background: #5C4033;
  transform: translate(475px, 372px) skewY(-55deg);
}

.bed .bed-frame-end-3d-square-11 {
  position: absolute;
  height: 17px;
  width: 14px;
  background: #5C4033;
  transform: translate(428px, 418px) rotate(32deg);
}

.bed .bed-frame-end-3d-square-12 {
  position: absolute;
  height: 17px;
  width: 14px;
  background: #5C4033;
  transform: translate(468px, 360px) rotate(32deg);
}