.board * {
  background: white;
  border: 2px solid black;
}

.board {
  position: absolute;
  cursor: pointer;
}

.board .board-main {
  position: absolute;
  height: 110px;
  width: 140px;
  transform: translate(190px, 220px);
}

.board .board-exterior {
  position: absolute;
  height: 130px;
  width: 160px;
  transform: translate(180px, 210px);
}


.board:hover .board-main, 
.board:hover .board-exterior {
  background: yellow;
}

.board .sticky-note-1 {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  background: transparent;
  display: none;
  transform: translate(200px, 225px);
}

.board .sticky-note-2 {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  background: transparent;
  display: none;
  transform: translate(220px, 255px);
}

.board .sticky-note-3 {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  background: transparent;
  display: none;
  transform: translate(270px, 240px);
}

.board.active .board-main {
  background-image: url("https://img.freepik.com/free-photo/granite-texture_1160-692.jpg?semt=ais_user_personalization&w=740&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.board.active .board-exterior {
  --s: 10px;
  --c1: #787f97;
  --c2: #9f9d9d;
    
  --_c: 5%,#0000 75%,var(--c1) 0;
  --_g: /var(--s) var(--s) conic-gradient(at var(--_c));
  --_l: /var(--s) var(--s) conic-gradient(at 50% var(--_c));
  background:
    0 calc(7*var(--s)/10) var(--_l),
    calc(var(--s)/2) calc(var(--s)/5) var(--_l),
    calc(var(--s)/5) 0 var(--_g),
    calc(7*var(--s)/10) calc(var(--s)/2) var(--_g),
    conic-gradient(at 90% 90%,var(--c1) 75%,var(--c2) 0)
    0 0/calc(var(--s)/2) calc(var(--s)/2);
  border: none;
}
.board.active .sticky-note-1,
.board.active .sticky-note-2,
.board.active .sticky-note-3 {
  display: block;
}
.board.active:hover .board-main,
.board.active:hover .board-exterior {
  background: violet;
}
