.projector .projector-spine,
.projector .projector-body,
.projector .projector-circle,
.projector .projector-lens,
.projector .screen-circle-top,
.projector .screen-pipe-top {
  background: white;
  border: 2px solid black;
}

.projector {
  position: absolute;
  cursor: pointer;
}

.projector .projector-spine {
  position: absolute;
  width: 20px;
  height: 60px;
  border-radius: 5px; 
  transform: translate(200px, 30px);
}

.projector .projector-body {
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 5px; 
  transform: translate(180px, 90px) rotate(15deg);
}

.projector .projector-circle {
  position: absolute;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  transform: translate(195px, 25px);
}

.projector .projector-lens {
  position: absolute;
  width: 10px;
  height: 23px;
  border-radius: 50%;
  transform: translate(273px, 107px) rotate(15deg);
}

.projector-lights {
  position: absolute;
  cursor: auto;
  width: 500px;
  height: 500px;
  border: none;
  background: transparent;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 38%);
  transform: translate(280px, -45px);
}

.projector .screen-main {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.5;
  transform: translate(620px, 50px);
}

.projector .screen-white-part {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.5;
  transform: translate(620px, 50px);
}

.projector .screen-circle-top {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(610px, 125px);
}

.projector .screen-pipe-top {
  position: absolute;
  width: 200px;
  height: 20px;
  transform: translate(610px, 83px) rotate(-25deg);
}

.projector:hover .projector-spine,
.projector:hover .projector-body, 
.projector:hover .projector-circle,
.projector:hover .projector-lens, 
.projector:hover .screen-circle-top,
.projector:hover .screen-pipe-top {
  background: yellow;
}

.projector:hover .screen-main,
.projector:hover .screen-white-part {
  fill: yellow;
}

.projector.active .projector-spine {
  background: silver;
  border: none;
}
.projector.active .projector-body {
  background: black;
  border: none;
}
.projector.active .projector-circle {
  background: black;
  border: none;
}
.projector.active .projector-lens {
  background: gray;
  border: none;
}
.projector.active .projector-lights {
  background: linear-gradient(90deg,rgba(255, 250, 148, 1) 0%, rgba(242, 241, 194, 1) 50%, rgba(255, 255, 255, 1) 100%);  
  opacity: 0.3;
  border: none;
}
.projector.active .screen-main {
  fill: black;
  stroke: none;
}
.projector.active .screen-white-part {
  fill: url(#catImage);
  stroke: none;
}
.projector.active .screen-circle-top {
  background: gray;
  border: none;
}
.projector.active .screen-pipe-top {
  background: gray;
  border: none;
}


