.projector .projector-spine,
.projector .projector-body,
.projector .projector-circle,
.projector .projector-lens,
.projector .screen-circle-top,
.projector .screen-pipe-top {
  background: white;
  border: 2px solid black;
}

.projector {
  position: absolute;
  cursor: pointer;
}

.projector .projector-spine {
  position: absolute;
  width: 20px;
  height: 60px;
  border-radius: 5px; 
  transform: translate(200px, 30px);
}

.projector .projector-body {
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 5px; 
  transform: translate(180px, 90px) rotate(15deg);
}

.projector .projector-circle {
  position: absolute;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  transform: translate(195px, 25px);
}

.projector .projector-lens {
  position: absolute;
  width: 10px;
  height: 23px;
  border-radius: 50%;
  transform: translate(273px, 107px) rotate(15deg);
}

.projector-lights {
  position: absolute;
  cursor: auto;
  width: 500px;
  height: 500px;
  border: none;
  pointer-events: none;
  background: transparent;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 38%);
  transform: translate(280px, -45px);
}

.projector .screen-main {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.5;
  transform: translate(620px, 50px);
}

.projector .screen-video-wrapper {
  position: absolute;
  width: 300px;
  height: 400px;

  clip-path: polygon(3% 25%, 80% 0%, 100% 105%, 2% 72%);
  display: none;
  pointer-events: none;
  transform: translate(620px, 50px);
}

.projector .screen-video-wrapper iframe {
  position: absolute;
  width: 250%;
  height: 100%;
  transform: translateX(-30%);
}

.projector .screen-circle-top {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(610px, 125px);
}

.projector .screen-pipe-top {
  position: absolute;
  width: 200px;
  height: 20px;
  transform: translate(610px, 83px) rotate(-25deg);
}

.projector:hover .projector-spine,
.projector:hover .projector-body, 
.projector:hover .projector-circle,
.projector:hover .projector-lens, 
.projector:hover .screen-circle-top,
.projector:hover .screen-pipe-top {
  background: yellow;
}

.projector:hover .screen-main,
.projector:hover .screen-white-part {
  fill: yellow;
}

.projector.active .projector-spine {
  background: silver;
  border: none;
}
.projector.active .projector-body {
  background: black;
  border: none;
}
.projector.active .projector-circle {
  background: black;
  border: none;
}
.projector.active .projector-lens {
  background: gray;
  border: none;
}
.projector.active .projector-lights {
  background: linear-gradient(
    90deg,
    rgba(255, 250, 148, 0.8) 0%,
    rgba(255, 250, 148, 0) 100%
  );
  opacity: 0.3;
  border: none;
}
.projector.active .screen-main {
  fill: black;
  stroke: none;
}
.projector.active .screen-video-wrapper {
  display: block;
}
.projector.active .screen-circle-top {
  background: gray;
  border: none;
}
.projector.active .screen-pipe-top {
  background: gray;
  border: none;
}

.projector.active:hover .projector-spine,
.projector.active:hover .projector-body, 
.projector.active:hover .projector-circle,
.projector.active:hover .projector-lens, 
.projector.active:hover .screen-circle-top,
.projector.active:hover .screen-pipe-top {
  background: violet;
}

.projector.active:hover .screen-main,
.projector.active:hover .screen-white-part {
  fill: violet;
}
