.projector {
  position: absolute;
  cursor: pointer;
}

.projector .projector-spine {
  position: absolute;
  width: 20px;
  height: 60px;
  background: silver;
  border-radius: 5px; 
  transform: translate(200px, 30px);
}

.projector .projector-body {
  position: absolute;
  width: 100px;
  height: 30px;
  background: black;
  border-radius: 5px; 
  transform: translate(180px, 90px) rotate(15deg);
}

.projector .projector-circle {
  position: absolute;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  background: black;
  transform: translate(195px, 25px);
}

.projector .projector-lens {
  position: absolute;
  width: 10px;
  height: 23px;
  border-radius: 50%;
  background: gray;
  transform: translate(273px, 107px) rotate(15deg);
}

.projector-lights {
  position: absolute;
  width: 500px;
  height: 500px;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 38%);
  background: linear-gradient(90deg,rgba(255, 250, 148, 1) 0%, rgba(242, 241, 194, 1) 50%, rgba(255, 255, 255, 1) 100%);  
  opacity: 0.3;
  transform: translate(280px, -45px);
}

