.room {
  position: absolute;
}

.room .ceiling {
  position: absolute;
  fill: white;
  stroke: purple;
  stroke-width: 0.2;
  transform: translate(-70px, -410px);
}

.room .floor {
  position: absolute;
  fill: transparent;
  stroke: purple;
  stroke-width: 0.1;
  transform: translate(-530px, -430px) rotate(180deg);
}

.room .square-back {
  position: absolute;
  height: 360px;
  width: 470px;
  background: white;
  border: 2px solid blue;
  transform: translate(130px, 130px);
}