.room .square-back, 
.room .wall-l,
.room .wall-r {
  background: white;
  border: 2px solid black;
}

.room {
  position: absolute;
  cursor: pointer;
}

.room .ceiling {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.1;
  transform: translate(-70px, -410px);
}

.room .floor {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.1;
  transform: translate(-530px, -430px) rotate(180deg);
}

.room .square-back {
  position: absolute;
  height: 360px;
  width: 470px;
  transform: translate(130px, 130px);
}

.room .wall-l {
  position: absolute;
  height: 600px;
  width: 470px;
  transform: translate(-180px, 10px);
}

.room .wall-r {
  position: absolute;
  height: 600px;
  width: 470px;
  transform: translate(300px, 0px);
}

.room .flag {
  position: absolute;
  width: 120px;
  transform: translate(-10px, 190px) rotate(-15deg); 
  display: none;
  pointer-events: none;
}

.room .twice {
  position: absolute;
  width: 100px;
  transform: translate(18px, 220px) skewY(-10deg);
  border: 1px solid black;
  display: none;
  pointer-events: none;
}

.room .fairy {
  position: absolute;
  width: 100px;
  transform: translate(638px, 330px) skewY(20deg);
  border: 1px solid black;
  display: none;
  pointer-events: none;
}

.room:hover .square-back, 
.room:hover .wall-l,
.room:hover .wall-r {
  background: yellow;
}
.room:hover .ceiling,
.room:hover .floor {
  fill: yellow;
}

.room.active .square-back {
  --s: 15px;
  --c1: #774f38;
  --c2: #f1d4af;
  --g: conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
  background: var(--g),var(--g) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
  border: none;
}
.room.active .wall-l,
.room.active .wall-r {
  background-color: #c7b7ae;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(to right, #9d9995, #9d9995 0.4px, #c7b7ae 0.4px, #c7b7ae);
  border: none;
}
.room.active .floor {
  fill: #f1d4af;
  stroke: none;
}
.room.active .ceiling {
  fill: #f1d4af;
  stroke: none;
}
.room.active .flag {
  display: block;
}
.room.active .twice {
  display: block;
}
.room.active .fairy {
  display: block;
}

.room.active:hover .square-back, 
.room.active:hover .wall-l,
.room.active:hover .wall-r {
  background: violet;
  border: 2px solid black;
}
.room.active:hover .ceiling,
.room.active:hover .floor {
  fill: violet;
  stroke: black;
  stroke-width: 0.1;
}
