.room .square-back, 
.room .wall-l,
.room .wall-r {
  background: white;
  border: 2px solid black;
}

.room {
  position: absolute;
  cursor: pointer;
}

.room .ceiling {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.2;
  transform: translate(-70px, -410px);
}

.room .floor {
  position: absolute;
  fill: white;
  stroke: black;
  stroke-width: 0.1;
  transform: translate(-530px, -430px) rotate(180deg);
}

.room .square-back {
  position: absolute;
  height: 360px;
  width: 470px;
  transform: translate(130px, 130px);
}

.room .wall-l {
  position: absolute;
  height: 600px;
  width: 470px;
  transform: translate(-180px, 10px);
}

.room .wall-r {
  position: absolute;
  height: 600px;
  width: 470px;
  transform: translate(300px, 0px);
}

.room.active .square-back {
  --s: 15px;
  --c1: #774f38;
  --c2: #f1d4af;
  
  --g: conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
  background: var(--g),var(--g) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}
.room.active .wall-l,
.room.active .wall-r {
  background-color: #c7b7ae;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(to right, #9d9995, #9d9995 0.4px, #c7b7ae 0.4px, #c7b7ae);
}