.top-light * {
  border: 2px solid black;
  background: white;
}

.top-light {
  position: absolute; 
  cursor: pointer;
  transform: translate(10px, 130px) scale(0.9);
}

.top-light .dark {
  position: absolute;
  pointer-events: none;
  height: 900px;
  width: 900px;
  border: none;
  background: black;
  opacity: 0.9;
  transform: translate(-20px, -160px);
}

.top-light .switch {
  position: absolute;
  border: none;
  background: transparent;
  transform: scale(0.3) skewY(-15deg) translate(-410px, 700px);
}

.top-light .top-light-half-circle-1 {
  position: absolute; 
  height: 30px; 
  width: 110px; 
  border-radius: 50%; 
  transform: translate(400px, 70px);
}

.top-light .top-light-half-circle-2 {
  position: absolute; 
  height: 30px; 
  width: 130px; 
  border-radius: 50%; 
  transform: translate(390px, 90px);
}

.top-light .top-light-side-1 {
  position: absolute; 
  height: 25px; 
  width: 20px; 
  transform: translate(394.8px, 85px) rotate(25deg);
}

.top-light .top-light-side-2 {
  position: absolute; 
  height: 25px; 
  width: 20px; 
  transform: translate(494.8px, 84.5px) rotate(-25deg);
}

.top-light .top-light-light {
  position: absolute; 
  height: 20px; 
  width: 100px; 
  border-radius: 50% 50% 50% 50% / 31% 32% 68% 69%;
  transform: translate(405px, 90px);
}

.top-light .top-light-rope {
  position: absolute; 
  height: 100px; 
  width: 5px; 
  border-radius: 2px; 
  transform: translate(450px, -30px);
}

.top-light .top-light-circle {
  position: absolute;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  transform: translate(442px, -35px);
}

.top-light-triangle-light {
  position: absolute;
  cursor: auto;
  width: 200px;
  height: 600px;
  border: none;
  pointer-events: none;
  background: transparent;
  clip-path: polygon(-2% 30%, 100% 0, 100% 80%, -22% 38%);
  transform: translate(280px, -105px) rotate(90deg);
}

.top-light:hover .top-light-half-circle-1,
.top-light:hover .top-light-half-circle-2,
.top-light:hover .top-light-side-1,
.top-light:hover .top-light-side-2,
.top-light:hover .top-light-light,
.top-light:hover .top-light-rope,
.top-light:hover .top-light-circle {
  background: yellow;
}

.top-light:hover .switch {
  background-color: yellow;
}

.top-light.active .top-light-half-circle-1 {
  background: linear-gradient(90deg,rgba(174, 134, 37, 1) 0%, rgba(247, 239, 138, 1) 22%, rgba(210, 172, 71, 1) 50%, rgba(237, 201, 103, 1) 66%, rgba(174, 134, 37, 1) 100%);
  border: none;
}
.top-light.active .top-light-half-circle-2 {
  background: linear-gradient(90deg,rgba(174, 134, 37, 1) 0%, rgba(247, 239, 138, 1) 22%, rgba(210, 172, 71, 1) 50%, rgba(237, 201, 103, 1) 66%, rgba(174, 134, 37, 1) 100%);
  border: none;
}
.top-light.active .top-light-side-1 {
  background: linear-gradient(90deg,rgba(174, 134, 37, 1) 0%, rgba(247, 239, 138, 1) 100%);
  border: none;
}
.top-light.active .top-light-side-2 {
  background: linear-gradient(90deg,rgba(237, 201, 103, 1) 0%, rgba(174, 134, 37, 1) 100%);
  border: none;
}
.top-light.active .top-light-light {
  background: white;
  border: none;
}
.top-light.active .top-light-rope {
  background: #2B2B2B;
  border: none;
}
.top-light.active .top-light-circle {
  background: black;
  border: none;
}
.top-light.active .top-light-triangle-light {
  opacity: 0.3;
  background: linear-gradient(
    90deg,
    rgba(255, 250, 148, 0.8) 0%,
    rgba(255, 250, 148, 0) 100%
  );
}
.top-light.active .dark {
  display: none;
}