.flag {
  position: absolute;
  cursor: pointer;
  fill: white;
  stroke: black;
  stroke-width: 2;
  transform: translate(0px, 140px);
}

.flag:hover {
  fill: yellow;
}

.flag.active {
  fill: maroon;
  stroke: maroon;
}