.journal * {
  background: white;      
  border: 2px solid black; 
  box-shadow: none;  
}

.journal:hover * {
  background: yellow;
}

.journal {
  position: absolute;
  cursor: pointer;
}

.journal .journal-page-1 {
  position: absolute;
  height: 100px;
  width: 70px;
  border-radius: 5px 0px 0px 5px;
  transform: translate(230px, 190px) skewX(-30deg) skewY(20deg);
}

.journal .journal-page-2 {
  position: absolute;
  height: 100px;
  width: 70px;
  border-radius: 0px 5px 5px 0px;
  transform: translate(291px, 206px) skewX(-30deg) skewY(5deg);
}

.journal .journal-page-3 {
  position: absolute;
  height: 90px;
  width: 60px;
  border-radius: 5px 0px 0px 5px;
  transform: translate(238px, 195px) skewX(-30deg) skewY(20deg);
}

.journal .journal-page-4 {
  position: absolute;
  height: 90px;
  width: 60px;
  border-radius: 0px 5px 5px 0px;
  transform: translate(293px, 209px) skewX(-30deg) skewY(5deg);
}

.journal .journal-exterior-1 {
  position: absolute;
  height: 110px;
  width: 80px;
  border-radius: 5px 0px 0px 5px;
  transform: translate(221px, 183px) skewX(-30deg) skewY(20deg);
}

.journal .journal-exterior-2 {
  position: absolute;
  height: 110px;
  width: 80px;
  border-radius: 0px 5px 5px 0px;
  transform: translate(290px, 201px) skewX(-30deg) skewY(5deg);
}

.journal.active .journal-page-1 {background: white; border: none; box-shadow:
    0px -5px 10px rgba(0,0,0,0.3), 
   -5px 0px 10px rgba(0,0,0,0.3),
    0px 5px 10px rgba(0,0,0,0.3);}
.journal.active .journal-page-2 {background: white; border: none;  box-shadow: 
  0px -5px 10px rgba(0,0,0,0.3),
  5px 0px 10px rgba(0,0,0,0.3),
  0px 5px 10px rgba(0,0,0,0.3);}
.journal.active .journal-page-3 {background: white; border: none; box-shadow:
    0px -5px 10px rgba(0,0,0,0.3), 
   -5px 0px 10px rgba(0,0,0,0.3),
    0px 5px 10px rgba(0,0,0,0.3);}
.journal.active .journal-page-4 {background: white; border: none; box-shadow: 
  0px -5px 10px rgba(0,0,0,0.3),
  5px 0px 10px rgba(0,0,0,0.3),
  0px 5px 10px rgba(0,0,0,0.3);}
.journal.active .journal-exterior-1 {background: skyblue; border: none;}
.journal.active .journal-exterior-2 {background: skyblue; border: none;}