.laptop * {
  background: white;      
  border: 2px solid black; 
  box-shadow: none;       
}

.laptop:hover * {
  background: yellow;
}

.laptop {
  position: absolute;
  cursor: pointer;
  transform: translate(-130px, 470px);
}

.laptop .laptop-base {
  position: absolute;
  height: 70px;
  width: 148px;
  border-radius: 5px;
  transform: translate(230px, 190px) skewX(-30deg);
}

.laptop .laptop-base-under-bottom {
  position: absolute;
  height: 10px;
  width: 145px;
  border-radius: 0px 0px 3px 3px;
  transform: translate(212px, 258px);
}

.laptop .laptop-base-under-side {
  position: absolute;
  height: 74px;
  width: 8px;
  border-radius: 3px 3px 3px 3px;
  transform: translate(371px, 192px) skewX(-30deg) skewY(40deg);
}

.laptop .laptop-top {
  position: absolute;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  transform: translate(255px,100px) skewX(-10deg);
}

.laptop .laptop-screen {
  position: absolute;
  height: 70px;
  width: 130px;
  transform: translate(265px,110px) skewX(-10deg);
}

.laptop .laptop-top-back {
  position: absolute;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  transform: translate(258px,98px) skewX(-10deg);
}

.laptop .laptop-keyboard {
  position: absolute;
  height: 40px;
  width: 110px;
  border-radius: 5px;
  transform: translate(250px, 200px) skewX(-30deg);
}

.laptop .laptop-mousepad {
  position: absolute;
  height: 15px;
  width: 40px;
  border-radius: 5px;
  transform: translate(270px, 242px) skewX(-30deg);
}


.laptop.active .laptop-top {
  background: black; 
  border: none;
}
.laptop.active .laptop-screen {
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border: none;
}
.laptop.active .laptop-top-back {
  background: gray; 
  border: none;
}
.laptop.active .laptop-base {
  background: gray; 
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
  border: none;
}
.laptop.active .laptop-base-under-bottom {
  background: gray; 
  border: none;
}
.laptop.active .laptop-base-under-side {
  background: gray; 
  border: none;
}
.laptop.active .laptop-keyboard {
  background: black; 
  border: none;
}
.laptop.active .laptop-mousepad {
  background: black; 
  border: none;
}

.laptop.active:hover * {
  background: violet;
}