.rug:hover {
  background: yellow;
}

.rug {
  position: absolute;
  cursor: pointer; 
  width: 200px;
  height: 600px;
  background: white;
  border: 2px black solid;
  border-radius: 41% 59% 38% 62% / 64% 33% 67% 36%;
  transform: translate(260px, 320px) rotate(-90deg);
}

.rug.active {
  background-image: url('https://cso.org/media/exrdg103/mickey-fantasia.jpg?mode=max&quality=80&width=1024&upscale=false');
  background-size: cover;       
  background-position: center center; 
  border: none;
}